body {
  background: #000;
  color: #fff;
}

.loading {
  align-items: center;
  color: #feda4a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.load-img {
  display: flex;
  height: 200px;
  margin: 20px;
  width: 200px;
}
