.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  justify-content: center;
  margin: 20px 10px 10px 5px;
  width: 250px;

  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-image: initial;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.1);
  transition-duration: .5s;
}

.fav-card {
  border-color: #feda4a;
}

.fav-btn {
  align-items: center;
  background: none;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 2em;
  height: 30px;
  justify-content: center;
  outline: none;
  position: relative;
  right: -90px;
  top: 5px;
}

.fav-btn:hover {
  border-color: #feda4a;
  cursor: pointer;
}

.card-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  margin: 10px;
}

.card-info h2 {
  color: #feda4a;
}
